.description {
    clear: both;
    font-size:1.1em;

}

.mmd-profile-param>label {
   display:block;
   float:none;
   font-size:1.2em;
}

.mmd-profile-param {
    margin-bottom:40px;
}

.mmd-profile-param>select {
    float:none;
display:block;
}

.mmd-profile-param>input {
   display:block;
   float:none;
}

.savebutton {
    float: left;
    clear: both;
}
.mmd-profile-add {
    float:left;
}
.mmd-assign-add {
    float:left;
}

.mmd-assign-edit {
    margin-bottom:0px;
}

.mmd-assign-delete {
    margin-bottom:0px;
}

.mmd-profile-edit {
    margin-bottom:0px;
}

.mmd-profile-delete {
   margin-bottom:0px;
}

.widthless {
    width:20%;
}