
#ohms-main {    
    overflow: auto;    
    margin-top: 15px;
    margin-bottom:15px;
//    padding-top: 20px;
//    width: 90%;
//    height: 370px;
    border: 1px solid #c2c2c2;
    border-width: 0 1px;
    background: #ffffff;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
} 

#ohms-main > h2 {    
    margin-bottom:5px;
    margin-left: 140px;
    margin-top: 23px;
    padding-top: 10px;
}

.item-file.application-xml {
    display: none;
}

#ohms-main .linenum {
  font-size: 8px;
}
#ohms-main .shortline {
  font-size: 12px;
}
#ohms-main .sline {
  background-color: #ffffcc;
  padding-top: 2px;
  padding-bottom: 2px;
}
#ohms-main .nline {
  background-color: #ffffff;
  padding-top: 2px;
  padding-bottom: 2px;
}
#ohms-main .hline {
  background-color: #ffffcc;
  padding-top: 2px;
  padding-bottom: 2px;
}

#ohms-main #ohms-main-panels {
  margin: 0px auto;
  width: 90%;
}
#ohms-main #transcript-panel {
 // width: 500px;
 // height: 300px;
  position: relative;
  float: left;
  overflow: auto;
  outline: 0;
  margin: auto;
  padding-left: 80px;
  padding-right: 20px;
  background: #ffffff;
  text-align: left;
}
#ohms-main #transcript-panel .speaker {
  font-weight: bold;
  display: inline;
}
#ohms-main #transcript-panel a {
  color: #000000;
}
#ohms-main #transcript-panel .jumpLink {
  position: absolute;
  left: 50px;
  font-size: 10px;
  color: #0000ff;
  text-decoration: none;
}
#ohms-main #transcript-panel p.first-p {
  margin-top: 0px;
}
#ohms-main #content-panel {
  float: left;
}
#ohms-main #index-panel {
  display: none;
  width: 500px;
  height: 300px;
  position: absolute;
  float: left;
  overflow: auto;
  outline: 0;
  margin: auto;
  padding-left: 80px;
  padding-right: 20px;
  background: #ffffff;
  text-align: left;
}
#ohms-main #index-panel .speaker {
  font-weight: bold;
  display: inline;
}
#ohms-main #index-panel a {
  color: #000000;
}
#ohms-main #index-panel .jumpLink {
  position: absolute;
  left: 50px;
  font-size: 10px;
  color: #0000ff;
  text-decoration: none;
}
#ohms-main #index-panel p.first-p {
  margin-top: 0px;
}
#ohms-main #search-toggle {
  margin-top: 5px;
  margin-bottom: 10px;
}
#ohms-main #searchbox-panel {
  display:none;
  width: 310px;
 // height: 550px;
  float: left;
  background: #ffffff;
}
#ohms-main #searchbox-panel .speaker {
  font-weight: bold;
  display: block;
}
#ohms-main #searchbox-panel p {
  padding-left: 2em;
}
#ohms-main #searchbox-panel.youtube {
	margin-top: -226px;
}

#ohms-main .highlight {
  color: #ff0000;
  font-weight: bold;
}
#audio-panel {    
  margin-left: 30px;
  width: 600px;
  /*padding-top: 10px;*/
  text-align: center;
}
#audio-panel a {
  font-size: 9pt;
}
#audio-panel #subjectPlayer {
  display: block;
  height: 30px;
  width: 500px;
  background-color: #3c3c3c;
}
#audio-panel .video-spacer {
  width: 1px;
  height: 250px;
  float: right;
}
.round-button {
  margin-top: 7px;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: linear;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(left bottom, left top), color-stop(color-stop(1, #dfdfdf) color-stop(0.05, #ededed)));
  background-image: -webkit-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
  background-image: -moz-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
  background-image: -ms-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
  background-image: -o-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
  background-image: linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #777777;
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #ffffff;
}
.round-button:hover {
  background-color: linear;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(left bottom, left top), color-stop(color-stop(1, #ededed) color-stop(0.05, #dfdfdf)));
  background-image: -webkit-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
  background-image: -moz-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
  background-image: -ms-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
  background-image: -o-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
  background-image: linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color: #dfdfdf;
}
.round-button .round-button:active {
  position: relative;
  top: 1px;
}

#ohms-main .search-button {
  margin-top: 7px;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: linear;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(left bottom, left top), color-stop(color-stop(1, #dfdfdf) color-stop(0.05, #ededed)));
  background-image: -webkit-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
  background-image: -moz-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
  background-image: -ms-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
  background-image: -o-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
  background-image: linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #777777;
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #ffffff;
}
#ohms-main .search-button:hover {
  background-color: linear;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(left bottom, left top), color-stop(color-stop(1, #ededed) color-stop(0.05, #dfdfdf)));
  background-image: -webkit-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
  background-image: -moz-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
  background-image: -ms-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
  background-image: -o-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
  background-image: linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color: #dfdfdf;
}
#ohms-main .search-button .search-button:active {
  position: relative;
  top: 1px;
}

#ohms-main .searchclear-button {
  margin-top: 7px;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: linear;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(left bottom, left top), color-stop(color-stop(1, #dfdfdf) color-stop(0.05, #ededed)));
  background-image: -webkit-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
  background-image: -moz-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
  background-image: -ms-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
  background-image: -o-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
  background-image: linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #dcdcdc;
  display: none;
  color: #777777;
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #ffffff;
}
#ohms-main .searchclear-button:hover {
  background-color: linear;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(left bottom, left top), color-stop(color-stop(1, #ededed) color-stop(0.05, #dfdfdf)));
  background-image: -webkit-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
  background-image: -moz-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
  background-image: -ms-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
  background-image: -o-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
  background-image: linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color: #dfdfdf;
}
#ohms-main .searchclear-button .searchclear-button:active {
  position: relative;
  top: 1px;
}


#ohms-main #search-results {
  overflow-y: auto;
//  height: 430px;
}
#ohms-main #search-results ol {
  text-align: left;
}
#ohms-main #search-results ul {
  list-style-type: none;
}
#ohms-main .search-result {
  text-decoration: none;
  color: black;
  background-color: #ffffff;
  padding-top: 2px;
  padding-bottom: 2px;
}
#ohms-main .search-result:hover,
#ohms-main .search-result:active {
  background-color: #ffffcc;
  padding-top: 2px;
  padding-bottom: 2px;
}
#ohms-main .selected-result {
  background-color: #ffffcc;
  padding-top: 2px;
  padding-bottom: 2px;
}

#ohms-main .error-msg {
  background-color: #ffffcc;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #ff0000;
  font-weight: bold;
  font-size: 14px;
}
#ohms-main #search-transcript {
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
}
#ohms-main #search-index {
  margin-left: 10px;
}
#ohms-main .kw-empty {
  color: lightgrey;
}
#ohms-main .kw-entry {
  color: black;
}

#ohms-main #lnkShowMeta {
	color: #aaaaaa !important;
	font-weight: normal;
}

#ohms-main .ui-widget { font-family: Arial, Helvetica, sans-serif !important; font-size: 10pt !important; }
#ohms-main .ui-accordion-content { padding-top: 0px !important; padding-bottom: 0px !important; }

#ohms-main #rightsStatement {
	display: none;
}

#ohms-main #usageStatement {
	display: none;
}

#ohms-main .indexJumpLink {
	float: left;
}

#ohms-main .indexSegmentLink {
	float: right;
}

#ohms-main .segmentLink {
	border: #000000 1px solid;
	padding: 5px;
	display: none;
}

#ohms-main .segmentLink input {
	width: 99%;
}